// start .sForm
@import "form.scss";
.sForm {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}

	&__link {
		font-weight: 600;
		@include media-breakpoint-up(xxl) {
			font-size: 56px;
		}
		@include rfs(40px);
		border-bottom: 1px solid transparent;
		&:hover {
			border-color: $primary;
		}
		small {
			font-size: 0.5em;
		}
	}
	&__contact {
		display: flex;
		flex-direction: column;
	}
	&__footer {
		margin-top: auto;
		margin-bottom: 16px;
		padding-top: 2rem;
		p {
			font-size: 12px;
		}
		.row {
			margin-top: rem(55);
			font-size: 10px;
		}
	}

	.item__description {
		position: relative;
	}

	textarea {
		&::placeholder {
			opacity: 0;
		}
		& ~ .text-label {
			position: absolute;
			padding-left: em(20);
			top: rem(30);
			left: 0;
			opacity: 0.5;
			font-size: rem(12);
			width: 100%;
			pointer-events: none;
			// @include mt;
		}

		&:focus-visible ~ .text-label,
		&:not(:placeholder-shown) ~ .text-label {
			opacity: 0;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sForm

.form__input {
	border-radius: 0 !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	@include rfs(26px);
	font-weight: 600;
	&::placeholder {
		opacity: 0.5;
	}
}
