mixin sControlMethods(data)
	// start sControlMethods
	+b.SECTION.sControlMethods.section#sControlMethods&attributes(attributes)
		.container
			+b.section-title
				h2 #[span Методы контроля доступа] на мероприятиях
				
			+e.row.row
				mixin item(t,i)
					.col-12.col-md-6
						+e.item
							+e.head
								+e.title= t
								ul
									block
							+img(`img/${i}`)
				+item(`Бейджи для посетителей`,`image.jpg`)
					li Удобный способ визуальной идентификации посетителей.
					li Позволяет быстро и эффективно проверять доступ на мероприятие.
					li Может включать информацию о должности и компании.

				+item(`Электронные системы контроля`,`image.jpg`)
					li Использование RFID-меток, QR-кодов или штрих-кодов, которые сканируются при входе.
					li Позволяет мгновенно зафиксировать время входа и выхода посетителей.
					li Упрощает аудит посещаемости мероприятия.

				+item(`Регистрация на месте`,`image.jpg`)
					li Возможность зарегистрироваться непосредственно перед входом.
					li Предоставляет гибкость для неожиданных посетителей.
					li Позволяет организовать дополнительные проверки безопасности

				+item(`Регистрация на месте`,`image.jpg`) 
					li Для закрытых мероприятий, где доступ строго ограничен, необходима проверка документов (например, паспорта или приглашения).
					li Обеспечивает дополнительный уровень безопасности.

	// end sControlMethods