mixin sSetOfServices(data)
	// start sSetOfServices
	+b.SECTION.sSetOfServices.section#sSetOfServices&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sSetOfServices
				
			+e.row.row
	// end sSetOfServices