// start .headerBlock
.headerBlock {
	--sPT: #{rem(60)};
	--sPB: #{rem(60)};
	--sTPB: #{rem(35)};

	text-align: left;
	h1 {
		span {
			max-width: em(120);
		}
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
		p {
			margin-top: em(8);
			@include rfs(24px);
			max-width: rem(560);
			line-height: 1.2;
		}
	}
	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}

	.btn {
		// margin-top: rem(40);
	}
	&__row {
		justify-content: space-between;
		font-weight: 600;
		.strong {
			@include rfs(40px);
		}
	}
	&__slider-wrap {
		position: relative;
		margin-top: 10px;
		z-index: 2;
		max-width: rem(550);
		svg {
			position: absolute;
			@include a-cent1;
			z-index: 3;
			pointer-events: none;
			max-width: 140%;
			max-height: 140%;
		}

		@for $i from 1 through 46 {
			path:nth-child(#{$i}) {
				visibility: hidden;
				// opacity: 0;
				$duration: random(20) * 0.2s + 4s;
				$delay: random(20) * 0.5s;

				animation: blink $duration infinite steps(2, end) $delay;
			}
		}

		@include media-breakpoint-up(xxl) {
			margin-right: 20px;
		}
		@include media-breakpoint-up(lg) {
			margin-right: 0;
		}
		margin-right: auto;
		margin-left: auto;
		&::after,
		&::before {
			content: "";
			position: absolute;
			z-index: -2;
			width: 100%;
			filter: blur(154.35px);
			aspect-ratio: 1;
		}
		&::after {
			background: $success;
			left: 0;
			bottom: 0;
		}
		&::before {
			background: $primary;
			right: 0;
			top: 0;
		}
	}
	&__slider {
		aspect-ratio: 550 / 530;

		// margin-left: auto;

		mask-image: url(../img/svg/mask.svg);
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;
	}
	&__slide {
		img {
			width: 100%;
			object-fit: cover;
			height: 100%;
		}
	}

	.swiper-button-hand {
		// position: relative;
		z-index: 4;
		mask-image: url(../img/svg/mask.svg);
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;

		// aspect-ratio: 550 / 530;
	}
	.swiper-button-hand-prev {
		// left: 8%;
	}

	// margin-right: rem();
	&__row {
		.strong {
			line-height: 1.2;
		}
		margin-bottom: 0;
	}
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}

// end.headerBlock

@keyframes blink {
	0%,
	40%,
	60%,
	100% {
		visibility: hidden;
	}
	50% {
		visibility: visible;
	}
}
