extends ../layout/main.pug

include ../blocks/top-nav/_top-nav.pug
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sLogos/_sLogos.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sSetOfServices/_sSetOfServices.pug
include ../blocks/sOtherServices/_sOtherServices.pug
include ../blocks/sPrices/_sPrices.pug
include ../blocks/sPhotos/_sPhotos.pug 
include ../blocks/sForm/_sForm.pug 
include ../blocks/footer/_footer.pug 

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+top-nav
	main 
		+headerBlock 
		+sLogos
		+sWhy
		+sSetOfServices
		+sOtherServices
		+sPrices
		+sPhotos

		+sForm.bg-light
		.bg-light.section.pt-0
			.container
				+b.seo
					p Возможность нахождения поисковых ключей в&nbsp;тексте и&nbsp;определения их&nbsp;количества полезна как для написания нового текста, так и&nbsp;для оптимизации уже существующего. Расположение ключевых слов по&nbsp;группам и&nbsp;по&nbsp;частоте сделает навигацию по&nbsp;ключам удобной и&nbsp;быстрой. Сервис также найдет и&nbsp;морфологические варианты ключей, которые выделятся в&nbsp;тексте при нажатии на&nbsp;нужное ключевое слово.
					p Определение процента водности текста
					p Данный параметр отображает процент наличия в&nbsp;тексте стоп-слов, фразеологизмов, а&nbsp;также словесных оборотов, фраз, соединительных слов, являющихся не&nbsp;значимыми и&nbsp;не&nbsp;несущими смысловой нагрузки. Небольшое содержание &laquo;воды&raquo; в&nbsp;тексте является естественным показателем, при этом. Возможность нахождения поисковых ключей в&nbsp;тексте и&nbsp;определения их&nbsp;количества полезна как для написания нового текста, так и&nbsp;для оптимизации уже существующего. Возможность нахождения поисковых ключей в&nbsp;тексте и&nbsp;определения их&nbsp;количества полезна как для написания нового текста, так и&nbsp;для оптимизации уже существующего. Расположение ключевых слов по&nbsp;группам и&nbsp;по&nbsp;частоте сделает навигацию по&nbsp;ключам удобной и&nbsp;быстрой. Сервис также найдет и&nbsp;морфологические варианты ключей, которые выделятся в&nbsp;тексте при нажатии на&nbsp;нужное ключевое слово.
					p Определение процента водности текста
					p Данный параметр отображает процент наличия в&nbsp;тексте стоп-слов, фразеологизмов, а&nbsp;также словесных оборотов, фраз, соединительных слов, являющихся не&nbsp;значимыми и&nbsp;не&nbsp;несущими смысловой нагрузки. Небольшое содержание &laquo;воды&raquo; в&nbsp;тексте является естественным показателем, при этом. Возможность нахождения поисковых ключей в&nbsp;тексте и&nbsp;определения их&nbsp;количества полезна как для написания нового текста, так и&nbsp;для оптимизации уже существующего.
				a.more-js(href="#") Читать польностью... 