mixin sWhy(data)
	// start sWhy
	+b.SECTION.sWhy.section#sWhy&attributes(attributes)
		.container
			+b.section-title
				h2 Почему 
					span нам доверяют
			.h3 RUVENTS — ваш надежный партнёр в организации аккредитации и работы с участниками мероприятий.
				span.text-secondary С&nbsp;2014 года мы&nbsp;освобождаем организаторов от&nbsp;рутины: берём на&nbsp;себя аккредитацию, контроль доступа и&nbsp;цифровую аналитику, чтобы вы&nbsp;могли сосредоточиться на&nbsp;организационных задачах. Наш опыт&nbsp;&mdash; это тысячи успешных проектов, от&nbsp;корпоративных встреч до&nbsp;международных форумов.
			+e.slider.slider-auto-js.swiper
				.swiper-wrapper
					mixin item(t,p)
						+e.slide.swiper-slide
							strong= t
							= p
					+item('Опыт и масштаб','Участие в сотнях мероприятий ежегодно, от небольших локальных событий до крупных международных конференций.')
					+item('Скорость работы','Быстрое выполнение всех задач: от составления сметы до аккредитации посетителей и подготовки отчетов.')
					+item('Технологичность','Собственное программное обеспечение на базе передовых технических решений.')
					+item('Безопасность данных','Строгое соблюдение законодательства РФ.')
					+item('Стоимость','Прозрачные цены и подробные расчеты смет.')
				.swiper-scrollbar
	// end sWhy
mixin sWhy2(data)
	// start sWhy
	+b.SECTION.sWhy--2.section#sWhy&attributes(attributes)
		.container
			+b.section-title
				h3  
					span Почему важна организация входа на мероприятиях? 
			+e.slider.slider-auto-js.swiper
				.swiper-wrapper
					mixin item(t,p)
						+e.slide.swiper-slide
							strong= t
							span= p
					+item('Обеспечение безопасности',' Контроль доступа на мероприятие позволяет предотвратить попадание на него посторонних лиц и обеспечивает безопасность всех посетителей')
					+item('Упрощение доступа на мероприятие','Организация эффективного входа помогает сократить время ожидания и очереди, что улучшает общий опыт посетителей')
					+item('Сбор данных','Системы контроля доступа могут использоваться для сбора информации о посетителях и их перемещении, что полезно для анализа и дальнейших маркетинговых кампаний')
				.swiper-scrollbar
	// end sWhy