// start .sWhy
.sWhy {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
		h2 {
			--deg: 110deg;
		}
	}
	&__col {
	}
	&__item {
	}

	&__slider {
		overflow: visible;
	}
	.swiper-wrapper {
		@include media-breakpoint-up(xxl) {
			transform: none !important;
		}
	}

	&__slide {
		max-width: rem(230);
		margin-right: 30px;

		&::before {
			content: url(../img/svg/check.svg);
			display: block;
			margin-bottom: 1rem;
		}
		strong {
			display: block;
			margin-bottom: 1rem;
		}
	}
	&--2 &__slide {
		max-width: rem(410);
	}

	&--2 {
		font-size: rem(20);
		span {
			color: #666d80;
		}
	}

	.h3 {
		font-weight: normal;
		margin-bottom: rem(58);
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sWhy
