mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.section.block-with-lazy
		.container
			+e.row.row
				.col-lg-auto.col
					+e.logo(href="/")
						+img('img/svg/logo.svg')
				.col-lg.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							.d-lg-none
								+e.logo(href="/")
									+img('img/svg/logo.svg')
							+menu-toggle()
							+mnu()
							.d-lg-none
								.my-4
									+e.link(href="mailto:hi@ruvents.com").text-primary
										+icon("email")
										| hi@ruvents.com
								.mb-4
									+e.link(href="tel:+7(495)109-02-00;ext=2").text-body 
										+icon("tel")
										| +7 (495) 109-02-00 доб. 2 
				.col-auto
					+e.link(href="mailto:hi@ruvents.com").text-primary
						+icon("email")
						span.d-none.d-xl-inline hi@ruvents.com
				.col-auto
					+e.link(href="tel:+7(495)109-02-00;ext=2").text-body 
						+icon("tel")
						span.d-none.d-xl-inline +7 (495) 109-02-00 доб. 2 
				.col-auto.d-lg-none
					+menu-toggle()
	// end top-nav