mixin sEntrance(data)
	// start sEntrance
	+b.SECTION.sEntrance.section#sEntrance&attributes(attributes)
		.container
			+b.section-title
				h2 #[span Организация входа] по бейджам
				p Безопасность и эффективность при организации входа по бейджам играют ключевую роль. Рассмотрим несколько важных аспектов:
				
			mixin item(i, t) 
				+e.item
					+e.head
						+e.icon-wrap: +img(`img/svg/sOtherServices-i-${i}.svg`)
						+e.title.h4.mb-0= t
					+e.body
						ul
							block
			+item(1, `Дизайн бейджей`)
				li Убедитесь, что бейджи легко читаемы и содержат необходимую информацию.
				li Используйте уникальные цвета или форматы для выделения разных категорий посетителей (например: VIP, Спикеры, Участники, СМИ)

			+item(2, `Процесс выдачи бейджей`)
				li Предусмотрите заранее процесс получения бейджей для посетителей.
				li Рассмотрите возможность предрегистрации для ускорения выдачи
			+item(3, `Мониторинг и аудит`)
				li Обязательно фиксируйте, кто и когда получил бейджи.
				li Это поможет избежать недоразумений и организовать эффективный контроль на входе.
			+item(4, `Аспекты безопасности`)
				li Используйте защитные элементы на бейджах, такие как голограммы или водяные знаки, чтобы предотвратить подделку.
				li Обучите персонал основам безопасности и проверке бейджей, чтобы исключить возможность прохода неаккредитованных пользователей
			p.h4.text-gray 
				strong Организация входа на мероприятиях и контроль доступа — это важные аспекты успешного проведения любого события. Использование современных технологий и грамотный подход к системе идентификации посетителей обеспечивают безопасность, порядок и комфорт.
				br
				| Если вы планируете мероприятие, не забудьте уделить внимание всем вышеперечисленным аспектам. Это позволит создать положительное впечатление у гостей и обеспечить качественное проведение вашего события. Если вам требуется помощь в организации входа и контроля доступа, наша команда готова предложить профессиональные решения и поддержку на всех этапах подготовки.
	// end sEntrance